<div>
  <p>home works!</p>
  <p>home works!</p>
  <p>home works!</p>
  <p>home works!</p>
  <p>home works!</p>
  <p>home works!</p>
  <p>home works!</p>
  <p>home works!</p>
  <p>home works!</p>
  <p>home works!</p>
  <p>home works!</p>
  <p>home works!</p>
  <p>home works!</p>
  <p>home works!</p>
  <p>home works!</p>
  <p>home works!</p>
  <p>home works!</p>
  <p>home works!</p>
  <p>home works!</p>
  <p>home works!</p>
  <p>home works!</p>
  <p>home works!</p>
  <p>home works!</p>
  <p>home works!</p>
  <p>home works!</p>
  <p>home works!</p>
  <p>home works!</p>
  <p>home works!</p>
  <p>home works!</p>
  <p>home works!</p>
  <p>home works!</p>
  <p>home works!</p>
  <p>home works!</p>
  <p>home works!</p>
  <p>home works!</p>
  <p>home works!</p>
  <p>home works!</p>
  <p>home works!</p>
  <p>home works!</p>
  <p>home works!</p>

  <button mat-raised-button color="primary" (click)="triggerRequest()">Fetch /test</button>
  <div class="response-box">
    <h3>Response Value:</h3>
    <div>{{responseValue}}</div>
  </div>
  <div class="status-box">
    <h3>Status Code:</h3>
    <div>{{statusCode}}</div>
  </div>
</div>
