html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$background_color_dark: #0B2428;
$background_color_light: #123B40;

$foreground_color: #206A73;

$text_color_light: #F7F7F7;
$text_color_dark: #73CBD9;
